.navbar {
    background: #fff;;
    position: fixed;  
    overflow: hidden;  
    position: fixed;
    top:0;
    width: 100%;
    border-bottom: 2px solid #ccc ;
    float: left;
 }
 #name {
    background: #4aaaa5;
    color: white;
    width: 300px;
    float: left;
    font-size: 30px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: center;
  height:100px;
  line-height: 100px;
  margin-left: 10%;
  margin-right: 28%;

 }

 .pages a {
  float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 41px;
    text-decoration: none;
    font-size: 17px;
 }

 .pages a:hover {
    background:#4aaaa5;
    color: #fff;
 }


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: teal;
    font-weight: 1000;
    line-height: 45px;

}
.content{
    background: white;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 960px;
margin: auto;
padding:30px;
font-size: 15px;
line-height: 25px;
margin-top: 150px;
margin-bottom: 150px;



}
img {float: left;
margin-right: 20px;
margin-bottom: 20px;
}


textarea {
    width: 100%;
}

input, {
    width: 100%;
}


input[type=submit] {
    background: #4aaaa5;
    width: 10%;
    border: none;
    padding: 10px;
    font-size: 15PX;
    color: #ffffff
}

footer {
    text-align: center;
    background: #666;
    color: #ccc;
    border-top:5px solid #4aaaa5;
    height: 40px;
    font-size: 10px;

}
